*{margin:0;padding:0;}
.box,.ball {margin: 0 auto;}
.box{
  width: 200px;height: 200px;
  background-color: red;
  box-shadow: 10px 10px 10px lightblue;
  border-radius: 28px 28px 14px 14px;
  position:relative;
}
.ball{
  width: 50px;height: 50px;
  background-color: blue;
  border-radius: 50%;
  transition:all 2s;
  /*transform:rotate(20 deg) scale(1.5);*/
  position:absolute;
}
.box:hover .ball{
  background-color: yellow;
  left:150px;
  top:150px;
}
