.first,.second{
	line-height: 200px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	margin-bottom: 30px; 
}
.left,.right{
	line-height: 100px;
	text-align: center;
	color: #000;
	font-size: 18px;
}
.first{
	height: 200px;
	background-color:deeppink;
}
.second{
	height: 200px;
	background-color: lightgreen;
}
.left{
	height: 100px;
	background-color: blue;
}
.right{
	height: 100px;
	background-color: yellow;
}
@media (min-width:1000px) {
	.left{
		float:left;
		width: 50%;
	}
}
@media (min-width: 1000px) {
	.right{
		float:right;
		width: 50%;
	}
	
}