.first,.second,.third{
	line-height: 100px;
	text-align: center;
	color: #fff;
	font-size: 24px;
/*	margin-bottom: 30px; */
}
.first{
	height: 100px;
	background-color:deeppink;
}
.second{
	height: 100px;
	background-color: lightgreen;
}
.third{
	height: 100px;
	background-color: lightseagreen;
}
@media (min-width:500px) {
	.first{
		float:left;
		width: 50%;
	}
}
@media (min-width: 500px) {
	.second{
		float:left;
		width: 50%;
	}	
}
@media (min-width: 500px) {
	.third{
		clear:both;
	}
}
/*@media (min-width: 500px) and (max-width: 900px){
	body{
		background-color: #bada55;
	}
}*//*分开写如下：*/
@media (min-width: 500px){
	body{
		background-color: #000;
	}
@media (min-width: 900px){
	body{
		background-color: #fff;
	}
}/*小数值在前面，大数值在后面，反过来时，在超过大数值之后，颜色还会是大数值规定的，因为大于小数值的范围，包含大于大数值的范围*/
